<div class="card">

  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <h1 class="text-center"><i class="fa fa-address-card"></i> {{ title }} </h1>
      </mat-card>
    </div>
  </div>
</div>
<br>
<div class="">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <div class="modal-footer">
          <button (click)='regresar()' style="border-radius: 10px;" class="btn btn-primary" type="submit">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
          </button>
        </div>
      </mat-card>
    </div>
  </div>

  <hr>
  <!-- <div class="row">
    <div class="col-md-12">
      <mat-card>
        <div class="modal-footer">
          <button style="border-radius: 10px;" class="btn btn-primary" type="submit">
            <a [routerLink]="['crearParcialidad']">
              <span style="color:white;">
                <i class="fa fa-plus"></i>
                <span class="sm" >&nbsp; Nueva Parcialidad</span>
              </span>
            </a>
          </button>
        </div>
      </mat-card>
    </div>
  </div> -->

  <!--  -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Cambio de estado cuenta</h3>
  <br>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div class="container">
  
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <form [formGroup]="formCuenta">
                  <div class="form-group">
                    <label for="idCuenta">No. de Cuenta</label>
                    <input type="number" class="form-control" formControlName="idCuenta" readonly placeholder="{{idCuenta}}">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="estadoActual">Estado Actual</label>
                    <input type="text" class="form-control" formControlName="estadoActual" readonly placeholder="{{estadoActual}}">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="estadoNuevo">Estado Nuevo</label>
                    <input type="text" readonly class="form-control" formControlName="estadoNuevo" placeholder="{{mostrarEstado(estadoActual)}}">
                  </div>
                  <!-- <div class="form-group">
                    <label for="peso">* Peso Total Actual (Kg)</label>
                    <input type="number" class="form-control" formControlName="peso"  placeholder="0 kg">


                                        <select formControlName="estado" class="form-control">
                      <option value="1">Activo</option>
                      <option value="0">Inactivo</option>
                    </select>
                  </div> -->
  
                  <br>
  
                  <br>
                </form>
  
              </div>
  
            </div>
  
  
  
            </div>
  
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="actualizarEstadoCuenta()" [disabled]="!formValid()">Cambiar Estado</button>
  
          <button type="button" class="btn btn-secondary" (click)="resetear('cuenta')" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="container">

<div class="row">
<div class="col-md-4">
  <h3><strong><i class="fa fa-id-badge"></i>&nbsp;&nbsp;No de Cuenta: </strong><strong style="color:green;">#{{idCuenta}}</strong></h3>
  <h3><strong><i class="fa fa-user"></i>&nbsp;&nbsp;Agricultor: </strong><strong style="color:green;">{{nombreAgricultor}}</strong></h3>
  <h3><strong><i class="fa fa-sticky-note"></i>&nbsp;&nbsp;Estado Actual: </strong><strong style="color:green;">{{estadoActual}}</strong></h3> 
  <h3><strong><i class="fa fa-list"></i>&nbsp;&nbsp;Cantidad de Parcialidades: </strong><strong style="color:green;">{{cantidadParcialidades}} </strong></h3> 
  <h3><strong><i class="fa fa-balance-scale"></i>&nbsp;&nbsp;Diferencia Total: </strong><strong style="color:green;">{{diferenciaTotal}} {{medidaPeso}}</strong></h3> 
  <h3><strong><i class="fa fa-balance-scale"></i>&nbsp;&nbsp;Tolerancia: </strong><strong style="color:green;">{{resultadoTolerancia}}</strong></h3> 
</div>
</div>
<div class="col-md">
  <button *ngIf="mostrarBotonEstado()" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Cambiar Estado</button>
</div>


</div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <form>

                <table class="table table-striped table-hover">
                  <thead>
                    <tr class="table-info">
                      <th colspan="8" class="text-center" style="font-size:1.4em; padding:3%;">
                        Parcialidades
                      </th>
                    </tr>
                    <tr class="table-info">
                      <th scope="col" class="text-left">#</th>
                      <th scope="col" class="text-left">Placa Transporte</th>
                      <th scope="col" class="text-left">Nombre Transportista</th>
                      <th scope="col" class="text-left">Peso ({{medidaPeso}})</th>
                      <th scope="col" class="text-left">Peso Báscula ({{medidaPeso}})</th>
                      <th scope="col" class="text-left">Fecha Recepcion</th>
                      <th scope="col" class="text-left">Detalle</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngIf="parcialidades?.length===0">
                      <td colspan="8" class="text-center">
                        No existen registros.
                      </td>
                    </tr>
                    <tr *ngFor="let dato of parcialidades">
                      <td>{{dato.idParcialidad}}</td>
                      <td>{{dato.idTransporte.idTransporte}}</td>
                      <td>{{dato.idTransportista.nombre}}</td>
                      <td>{{dato.pesoEnviado}} {{medidaPeso}}</td>
                      <td>{{dato.pesoBascula}} {{medidaPeso}}</td>
                      <td>{{formatoFecha(dato.fechaRecepcionParcialidad)}}</td>
                      <td>{{dato.recibido}}</td>

                      <td>
                        <div class="row">
                        <div class="col-sm">
                            <button title="Ver detalle parcialidad" (click)="generarQR(dato.idCuenta, dato.idParcialidad)" class="btn btn-info">
                              <a [routerLink]="['qr', dato.idParcialidad ]">
                                <span>
                                  <i class="fa fa-eye"></i>
                                  <!-- <span class="sm" >&nbsp; Nueva Parcialidad</span> -->
                                </span>
                              </a>
                              </button>
                            <button *ngIf="dato.fechaRecepcionParcialidad ==null" (click)="accionParcialidad('Confirmar', dato.idParcialidad)" title="Confirmar recepcion de parcialidad" class="btn btn-success"><i class="fa fa-check"></i></button>
                            <button *ngIf="dato.fechaRecepcionParcialidad ==null" (click)="accionParcialidad('Rechazar', dato.idParcialidad)" title="Rechazar parcialidad" class="btn btn-danger"><i class="fa fa-close"></i></button>
                        <!-- <h1>{{dato.idParcialidad}}</h1> -->

                        </div>



                      </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
        </form>
      </div>
    </div>
  </div>
</div>


